{% load staticfiles %}
<!DOCTYPE html> <!-- Adapted from: https://github.com/iandevlin/html5bones -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GI Designer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" media="all">

    <link href="{% static 'css/ol.css' %}" rel="stylesheet">

    <style>
      span.breadcrumb {
        font-size: x-large;
        font-weight: bold;
        padding-bottom: 12pt;
      }
      .map {
        height: 600px;
        width: 95%;
        float: left;
      }
    </style>

    <script src="{% static 'js/jquery-2.1.4.js' %}" media="all"></script>
    <script src="{% static 'js/ol-debug.js' %}" type="text/javascript"></script>
    <!--[if lt IE 9]><script src="{% static 'js/html5shiv-printshiv.js' %}" media="all"></script><![endif]-->

</head>
<body>
    <header role="banner">
        <nav role="navigation">
          <span class="breadcrumb">GI Designer</span>
        </nav>
    </header>

    <div class="wrap">
        <main role="main">
            <div id="controls">
                <form action="{% url 'gidesigner:main' %}" method="post">
                    {% csrf_token %}
                    Available watersheds:
                    <select name="watershed" id="watershed" onchange="zoomToWatershed(this.value)">
                      <option value="-1">Select a watershed</option>
                      <option value="1">Dead Run 5, Baltimore County, MD</option>
                      <option value="5">Rain Catchers, Durham, NC</option>
                    </select>
                    <input type="submit" value="Select watershed">
                </form>
                <br>
            </div>
            <div id="map" class="map"></div>
            <script type="text/javascript">
              // Set up map
              var projection = ol.proj.get('EPSG:4326');

              var styles = {
                'Polygon': [new ol.style.Style({
                  stroke: new ol.style.Stroke({
                    color: 'blue',
                    lineDash: [4],
                    width: 3
                  }),
                  fill: new ol.style.Fill({
                    color: 'rgba(255, 0, 0, 0.25)'
                  })
                })],
                'Point': [new ol.style.Style({
                  image: new ol.style.Circle({
                    radius: 8,
                    fill: new ol.style.Fill({
                      color: 'red'
                    })
                  }),
                })],
              }
              var styleFunction = function(feature, resolution) {
                return styles[feature.getGeometry().getType()];
              };

              // Load watershed boundaries
              var ws_center = {};
              var ws_layers = [];
              var extent = undefined;
              $.ajax({
                async: false,
                url: "{{ watersheds_url }}",
                success: function(response) {
                  console.log(response);
                  for (i = 0; i < response.results.length; i++) {
                    var ws = response.results[i];
                    console.log(ws.name);
                    $.ajax({
                      async: false,
                      url: ws.boundary,
                      success: function (response) {
                        //console.log(JSON.stringify(response.boundary));

                        var geometry = (new ol.format.GeoJSON()).readGeometry(response.boundary,
                            {dataProjection: ol.proj.get('EPSG:4326'),
                             featureProjection: ol.proj.get('EPSG:3857')});
                        var feature = new ol.Feature({
                          geometry: geometry,
                          name: ws.name
                        });

                        var vectorSource = new ol.source.Vector();
                        vectorSource.addFeature(feature);

                        var polyLayer = new ol.layer.Vector({
                          source: vectorSource,
                          style: styleFunction,
                          maxResolution: 1000
                        });

                        new_extent = geometry.getExtent();
                        if (extent == undefined) {
                          extent = new_extent;
                        } else {
                          ol.extent.extend(extent, new_extent);
                        }
                        ws_center[ws.id] = ol.extent.getCenter(new_extent);

                        ws_layers.push(polyLayer);

                        // Make point layer
                        var ptFeature = new ol.Feature({
                          geometry: new ol.geom.Point(ws_center[ws.id])
                        });
                        var ptSource = new ol.source.Vector();
                        ptSource.addFeature(ptFeature);
                        var ptLayer = new ol.layer.Vector({
                          source: ptSource,
                          style: styleFunction,
                          maxResolution: 250000,
                          minResolution: 1000
                        });

                        ws_layers.push(ptLayer);
                      }
                    });
                  }
                }
              });

              layers = [
                    new ol.layer.Tile({
                      source: new ol.source.OSM()
                    })
              ].concat(ws_layers);

              var map = new ol.Map({
                  target: 'map',
                  layers: layers,
                  view: new ol.View({
                    center: ol.extent.getCenter(extent),
                    zoom: 7
                  })
              });

              function zoomToWatershed(watershed_id) {
                newView = new ol.View({
                  center: ws_center[watershed_id],
                  zoom: 14
                });
                map.setView(newView);
              }

            </script>
        </main>
    </div>

    <footer role="contentinfo">
        <!-- <small>Copyright &copy; <time datetime="2015">2015</time></small> -->
    </footer>

</body>
</html>